body {
  background: #a3a3a3;
  color: #333333;
  margin-top: 5rem;
}


h1, h2, h3, h4, h5, h6 {
  color: #631077;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #a018c2;
}

.site-header .navbar-nav .nav-link {
  color: #f6d9ff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ebebeb;
  padding: 10px 20px;
  border: 1px solid #a0a0a0;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #6f1286;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #a0a0a0
}

.article-metadata a:hover {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.navbar{
  padding: 0rem 0rem 0rem 0rem;
}

.navbar-img {
  height: 35px;
  width: 35px;
  margin-top: 3px;
  margin-right: 3px;
}

.img-profile {
  transition: all 0.5s ease;
}

.img-profile:hover {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5)
}

a {
  color: #a018c2;
  
}

.btn-outline-warning:hover {
  color: #212529;
  background-color: #b798be;
  border-color: #e39cf5;
}

.btn-outline-warning {
  color: #a018c2;
  background-color: #af6cc0;
  background-image: none;
  border-color: #e39cf5;
}

a:hover {
  color: #b41dda;
}
a.mr-2:hover{
  color: #8714a3;
}

.text-muted {
  color: #5f5f5f!important;
}

.border-bottom {
  border-bottom: 1px solid #a0a0a0!important;
}

.btn-outline-info {
  color: #a018c2;
  background-color: #cecdcd;
  background-image: none;
  border-color: #a018c2;
}

.btn-outline-info:hover {
  background-color: #a018c2;
  border-color: #a018c2;

} 
.form-control:hover {
  box-shadow: 0 0 0 0.2rem rgba(195, 0, 255, 0.5);
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(195, 0, 255, 0.5);
  border-color: #a018c2;
}

input.form-control-file:hover{
  color: #b41dda;

}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #a018c2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a018c2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}





