{% extends "blog/base.html" %}
{% block content %}

<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #a018c2;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #a018c2;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .pintinho {
    height: 200px;
    width: 200px;
    margin: 0;
  }
  .nova {
    font-size: 42px;
    color: white;
  }
  .pequenininho {
    font-size: 24px;
    color: white;
    padding: 0;
    margin: 0;
  }

  .miau {
    padding: 3px;
    margin: 3px;
}


  .altura {
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #631077;
  }


.wrapper { 
  /* height: 100%;
  width: 100%; */
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  /* position: absolute; */
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.btn-outline-info.focus, .btn-outline-info:focus {
    box-shadow: 0 0 0 0.2rem rgb(137 23 184 / 50%);
}
</style>

<div class="content-section altura wrapper">
    
  <img class="rounded-circle article-img pintinho" src="{{ url_pic.image.url }}">
  <p class="nova"><b>{{ autor }}</b></p>
  <p class="pequenininho">{{ email }}</p>
  <p class="form-group miau">
      <button class="btn btn-outline-info" type="submit">+ Seguir</button>
  </p>
    

</div>

{% for post in posts%}
<article class="media content-section flow">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="# ">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted }}</small>
      </div>
      <h2><a class="article-title" href="{{post.url_post}}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
{% endfor %}
{% endblock content %}
